.Cart{
    min-width: 320px;
    border: 1px solid #0275d8;
    border-right: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    background-color: white;
    margin-left: auto;
}

.Cart .list-group {
    width: 100%;
}

.Cart .list-group .list-group-item {
    display: flex;
    border-radius: 0 !important;
}

.Cart .list-group .list-group-item h5,
.Cart .list-group .list-group-item p {
    padding: 0 3px;
    margin: 0;
}

.Cart .list-group .list-group-item.active {
    padding: 0.9rem;
}

.Total {
    bottom: 15px;
    position: absolute;
    color:#e74c3c;
}

.btnClose {
    position: absolute;
    z-index: 3;
    font-size: 30px;
    color: white;
    top: 5px;
    right: 15px;
    cursor: pointer;
}

.cartItems {
    overflow-y: auto;
    height: 80vh;
}